<% layout('layouts/boilerplate') %>

    <div id="map" style="width: 100%; height: 500px;"></div>

    <div class="mb-3" style="text-align: center; margin-top: 30px;">
        <h1>All grounds</h1>
        <a class="btn btn-success" href="/grounds/new">Add Grounds for rent</a>
    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for (let ground of grounds) { %>

                <div class="col">
                    <div class="card shadow-sm">
                        <% let empty = "https://tse3.mm.bing.net/th?id=OIP.M2WECJFVXPA94wpCfwYjaQHaHa&pid=Api&P=0&h=180" %>
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                            src="<%= ground.images.length > 0 ? ground.images[0].url : empty %>" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                    </img>
                        <div class="card-body">
                            <div style="text-align: center;" class="mb-3">
                                <p class="card-title"  style="font-weight: bold; font-size: 17px;"><%= ground.title %></p>
                                <p class="card-text"><%= ground.location %></p>
                            </div>
                            <p class="card-text"><%= ground.description.length>150 ? ground.description.substring(0,150)+' ...' : ground.description %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/grounds/<%= ground.id %>" class="btn btn-sm btn-outline-success">View ground</a>
                                </div>
                                <small class="text-body-secondary">₹<%= ground.price %>/hour</small>
                            </div>
                        </div>
                    </div>
                </div>


                <% } %>
        </div>
    </div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const grounds = { features: <%-JSON.stringify(grounds) %>}
</script>

<script src="/javascripts/clusterMaps.js"></script>
